<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Dashboard</title>  
    <%- include('plugins/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <a class="card-body" href="/admin">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Bookings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= reservation.length %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <a class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= user.length %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <a class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Ratings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <% let total = 0 %>
                                                <% reviews.forEach(star => { %>
                                                    <% total = total + parseInt(star.stars) %>
                                                <% }) %>
                                                <%= (total / reviews.length).toFixed(2) %>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-star fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <a class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                New Registered Account
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <% const newRegisteredAcc = user.filter(user => new Date(user.dateRegistered).toDateString() === new Date().toDateString()); %>
                                                <%= newRegisteredAcc.length %>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-file-invoice fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Users Status</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-1 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #FFD028;"></i> Pending
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #33a433;"></i> Approved
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #b62727;"></i> Cancelled
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #6c65e6;"></i> Checked-out
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List of Arrival / Check-in / Checkout</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Guest name</th>
                                            <th>Check-in</th>
                                            <th>Check-out</th>
                                            <th>Hours</th>
                                            <th>Person</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Date Created</th>
                                            <th>Edit booking</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Guest name</th>
                                            <th>Check-in</th>
                                            <th>Check-out</th>
                                            <th>Hours</th>
                                            <th>Person</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Date Created</th>
                                            <th>Edit booking</th>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Guest name</th>
                                            <th>Check-in</th>
                                            <th>Check-out</th>
                                            <th>Hours</th>
                                            <th>Person</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Date Created</th>
                                            <th>Edit booking</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    

            
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<%- include('plugins/footer') %>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>


    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>
    
    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>
    <script src="/admin/js/demo/chart-bar-demo.js"></script>

    <script src="/adminScript.js"></script>

</body>

</html>
         