<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- FLATPICKR -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    <title>Admin - Messages</title>
    <%- include('plugins/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Messages</h1>

                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Message information</h6>
                                </div>
                                <div class="card-body">
                                    <form class="form" action="/admin/messages/edit/<%= data[0].contactID %>" method="post" enctype="multipart/form-data">
                                        <table class="table">
                                            <tbody>
                                              <tr>
                                                <th>Name</th>
                                                <td class="text-capitalize" ><%= data[0].firstName %> <%= data[0].lastName %></td>
                                              </tr>
                                              <tr>
                                                <th>Email</th>
                                                <td><%= data[0].email %>
                                                    <input type="hidden" name="email" value="<%= data[0].email %>">
                                                </td>
                                              </tr>
                                              <tr>
                                                <th >Contact Number</th>
                                                <td><%= data[0].contactNumber %></td>
                                              </tr>
                                              <tr>
                                                <th>Message</th>
                                                <td><%= data[0].message %></td>
                                              </tr>
                                              <tr>
                                                <% const date = new Date(data[0].messageSent); %>
                                                <% const month = date.toLocaleString('default', { month: 'short' }); %>
                                                <% const day = date.getDate(); %>
                                                <% const year = date.getFullYear(); %>
                                                <% const time = date.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}); %>
                                                <% const formattedDate = `${month} ${day}, ${year}, ${time}`; %>
                                                <th>Message sent</th>
                                                <td><%= formattedDate %></td>
                                              </tr>
                                              <tr>
                                                <th>Admin reply</th>
                                                <td>
                                                <% if(data[0].adminReply.length > 0 ){ %>
                                                    <%= data[0].adminReply %>
                                                <% }else{ %>
                                                    <div class="form-floating">
                                                        <textarea class="form-control" placeholder="Leave a message here" id="floatingTextarea" name="adminReply"></textarea>
                                                        <label for="floatingTextarea">Reply</label>
                                                    </div>
                                                <% } %>   
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        
                                        <div class="row">
                                            <div class="col">
                                                <a href="/admin/messages" class="btn btn-primary mt-1 w-100" type="submit">Go back</a>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-success mt-1 w-100" type="submit">Send reply</button>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-danger mt-1 w-100" href="/admin/messages/delete/<%= data[0].contactID %>">Delete</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            <!-- End of Main Content -->
            <%- include('plugins/footer') %>


    <script>
        lightGallery(document.querySelector('.animated-thumbnails'), {
            thumbnail: true,
        });
    </script>


    <!-- Bootstrap core JavaScript-->
    <script src="/admin/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <script src="/adminScript.js"></script>

</body>
</html>