<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <title>Admin - Reviews</title>
    <%- include('plugins/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Bookings</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>UserID</th>
                                            <th>Name</th>
                                            <th>Stars</th>
                                            <th>Feedback</th>
                                            <th>Date submitted</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% data.forEach(row => { %>
                                        <tr>
                                            <td style="text-transform: capitalize;"> <a href="/admin/users/<%= row.userID %>"> <%= row.userID %></a> </td>
                                            <td><%= row.name %></td>
                                            <td style="color: #FFD028;">
                                                <% for(let i = 0; i < row.stars; i++ ){ %>
                                                    <i class="bi bi-star-fill"></i>
                                                    <% if(i == row.stars - 1){ %>
                                                        <% for(let n = 0; n < 5 - row.stars; n++){ %>
                                                            <i class="bi bi-star"></i>
                                                    <% }} %>
                                                <% }%>
                                            </td>
                                            <td><%= row.reviewsMessage %></td>
                                            <% const date = new Date(row.dateSubmitted); %>
                                            <% const month = date.toLocaleString('default', { month: 'short' }); %>
                                            <% const day = date.getDate(); %>
                                            <% const year = date.getFullYear(); %>
                                            <% const time = date.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}); %>
                                            <% const formattedDate = `${month} ${day}, ${year}, ${time}`; %>
                                            <td><%= formattedDate %></td>
                                            <td style="text-align: center;"><a href="/admin/reviews/delete/<%= row.reviewsID %>" class="cancelled">delete</a></td>
                                        </tr>
                                    <% })%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>UserID</th>
                                            <th>Name</th>
                                            <th>Stars</th>
                                            <th>Feedback</th>
                                            <th>Date submitted</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('plugins/footer') %>

                <!-- Bootstrap core JavaScript-->
    <script src="/admin/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>


    <script src="/adminScript.js"></script>

</body>

</html>