<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- STYLES -->
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- FLATPICKR -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- SWEEETALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        body{
            background-color: var(--bg);
        }
    </style>
    <title>Pricing list</title>
</head>
<body>
    <%- include('plugins/navbar') %>

    <section class="pricing">
        <div class="titleHeader">
            <h1>Price list</h1>
            <p>Secure Your Spot and Book Your Stay at Palm Bliss Resort!</p>
        </div>
        <div class="box-container">
            <div class="left">
                <div class="titleHeader">
                    <h1>Month of May rates</h1>
                </div>
                <div class="box">
                   
                    <div class="days">
                        <p>WEEKEND / HOLIDAYS</p>
                        <p>FRIDAY to SUNDAY</p>
                    </div>
                    <table>
                    
                        <tr>
                            <th>Rates for 22 hours</th>
                            <th>Number of Person</th>
                        </tr>
                   
                        
                        <% data.forEach(foundData => {  %>
                            <% if(foundData.whatWeek === 'weekends' || foundData.whatWeek === 'holidays' && foundData.numOfHours === 22 && foundData.month === new Date().toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                        
                    </table>
                </div>
                <div class="box">
                    <div class="days">
                        <p>WEEKDAYS</p>
                        <p>MONDAY to THURSDAY</p>
                    </div>
                    <table>
                        <tr>
                            <th>Rates for 22 hours</th>
                            <th>Number of Person</th>
                        </tr>
                        <% data.forEach(foundData => {  %>
                            <% if(foundData.whatWeek === 'weekdays' && foundData.numOfHours === 22 && foundData.month === new Date().toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </table>
                </div>
                <div class="box">
                    <div class="days">
                        <p>WEEKDAYS</p>
                        <p>MONDAY to THURSDAY</p>
                    </div>
                    <table>
                        <tr>
                            <th>Rates for 12 hours</th>
                            <th>Number of Person</th>
                        </tr>
                        <% data.forEach(foundData => {  %>
                            <% if(foundData.whatWeek === 'weekdays' && foundData.numOfHours === 12 && foundData.month === new Date().toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </table>
                </div>
                <div class="titleHeader">
                    <% var nextMonthDate = new Date(); %>
                    <% nextMonthDate.setMonth(nextMonthDate.getMonth() + 1); %>
                    <h1>Month of <%= nextMonthDate.toLocaleString('en-US', { month: 'long' }); %> rates</h1>
                </div>
                <div class="box">
                   
                    <div class="days">
                        <p>WEEKEND / HOLIDAYS</p>
                        <p>FRIDAY to SUNDAY</p>
                    </div>
                    <table>
                        <tr>
                            <th>Rates for 22 hours</th>
                            <th>Number of Person</th>
                        </tr>
                        <% data.forEach(foundData => {  %>
                            <% if((foundData.whatWeek === 'weekends' || foundData.whatWeek === 'holiday') && foundData.numOfHours === 22 && foundData.month === nextMonthDate.toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </table>
                </div>
                <div class="box">
                    <div class="days">
                        <p>WEEKDAYS</p>
                        <p>MONDAY to THURSDAY</p>
                    </div>
                    <table>
                        <tr>
                            <th>Rates for 22 hours</th>
                            <th>Number of Person</th>
                        </tr>
                        <% data.forEach(foundData => {  %>
                            <% if(foundData.whatWeek === 'weekdays' && foundData.numOfHours === 22 && foundData.month === nextMonthDate.toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </table>
                </div>
                <div class="box">
                    <div class="days">
                        <p>WEEKDAYS</p>
                        <p>MONDAY to THURSDAY</p>
                    </div>
                    <table>
                        <tr>
                            <th>Rates for 12 hours</th>
                            <th>Number of Person</th>
                        </tr>
                        <% data.forEach(foundData => {  %>
                            <% if(foundData.whatWeek === 'weekdays' && foundData.numOfHours === 12 && foundData.month === nextMonthDate.toLocaleString('en-US', { month: 'long' })) {%>
                        <tr>
                            <td><i class="fa-solid fa-peso-sign"></i> <%= foundData.price.toLocaleString() %></td>
                            <td><%= foundData.numOfPerson %></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </table>
                </div>
            </div>
            <div class="right">
                <div class="box">
                    <h1>Booking summary</h1>
                    <form action="/booking" method="post" class="form">
                        <div class="labelBox">
                            <label for="check-in">Check-in:</label>
                            <input id="check-in" placeholder="Check-in" name="checkIn" class="check-in" required>
                        </div>
                        <div class="labelBox">
                            <label for="check-out">Checkout:</label>
                            <input id="checkOut" placeholder="Checkout" name="checkOut" required>
                        </div>
                        <div class="labelBox">
                            <label for="numOfHours">Number of hours:</label>
                            <select id="numOfHours" placeholder="hours" name="numOfHours" class="numOfHours" required>
                                <option value="12">12</option>
                                <option value="22">22</option>
                              </select>
                        </div>
                        <div class="labelBox">
                            <label for="time-in">Time-in:</label>
                            <input id="time-in" placeholder="Timein" name="timeIn" required>
                        </div>
                        <div class="labelBox">
                            <label for="time-out">Timeout:</label>
                            <input id="time-out" placeholder="Timeout" name="timeOut" required>
                        </div>
                        <div class="labelBox">
                            <label for="numOfPerson">Number of person:</label>
                            <select class="numOfPerson" placeholder="Number of Person" name="numOfPerson" required>
                                <option value="35">35</option>
                                <option value="30">30</option>
                                <option value="25">25</option>
                                <option value="20">20</option>
                                <option value="15">15 and below</option>
                              </select>
                        </div>
                        <div class="total">
                            <p>Total: <i class="fa-solid fa-peso-sign"></i> <span class="totalPrice"></span></p>
                        </div>
                        <button type="submit">Book now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        const dataToString = <%- JSON.stringify(toDisable) %>;
        const dataPriceList = <%- JSON.stringify(data) %>;
        const disableDates = dataToString.map(checkInDate => checkInDate.checkIn);
    </script>


    <script>
        let error = '<%= error %>';
        if(error.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Please check listed rates!',
                showConfirmButton: false,
                timer: 3000
            })
        }
    </script>



    <script>
        const form = document.querySelector(".form");
        const formCheckIn = document.querySelector('.check-in')
        let formNumOfHours = document.querySelector('.numOfHours')
        let formNumOfPerson = document.querySelector('.numOfPerson')
        let totalPrice = document.querySelector('.total .totalPrice')

        form.addEventListener("change", (event) => {

            // Convert the date string to a Date object
            const date = new Date(formCheckIn.value);
            const dayOfWeek = date.getDay();
            const monthName = date.toLocaleString('en-us', { month: 'long' });
            let week = dayOfWeek === 5 || dayOfWeek === 6 || dayOfWeek === 0;
            let weekString = '';
            week ? weekString = 'weekends' : weekString = 'weekdays';
            let total = 0;

            const priceObject = dataPriceList.find(price => price.month == monthName && price.whatWeek == weekString && price.numOfHours == parseInt(formNumOfHours.value) && price.numOfPerson == parseInt(formNumOfPerson.value))

            priceObject ? totalPrice.textContent = priceObject.price.toLocaleString() : totalPrice.textContent = 'Rates not available!'
        
        });
    </script>


    <script>
        let checkIn = flatpickr("#check-in", {
            altInput: true,
            minDate: "today",
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            disable: disableDates,
            onChange: function(selectedDates, dateStr, instance) {
                // Update the minDate and maxDate options of the second input
                checkOut.set("minDate", selectedDates[0]);
                checkOut.set("maxDate", new Date(selectedDates[0].getTime() + 86400000)); // next day
            }
        });

        let checkOut = flatpickr("#checkOut", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            disable: disableDates,
            minDate: "today",
            maxDate: new Date(Date.now() + 86400000) // tomorrow
        });


        let timeIn = flatpickr("#time-in", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            time_24hr: false
        });

        let timeOut = flatpickr("#time-out", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            time_24hr: false
        });
    </script>
    

<%- include('plugins/footer') %>