<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- STYLES -->
        <link rel="stylesheet" href="css/styles.css">
        
        <!-- FONTAWESOME ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    
        <!-- FLATPICKR -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <!-- DATATABLE -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/rowgroup/1.3.1/js/dataTables.rowGroup.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.3.1/css/rowGroup.dataTables.min.css">


        <title>My Bookings</title>
    </head>
<body>      
    <%- include('plugins/navbar') %>
    <section class="myBookings">
        <div class="titleHeader">
            <h1>My Bookings</h1>
            <p>If your status is 'approved', you can now pay via Gcash or Paypal by clicking the Pay buttton.</p>
        </div>
        <div class="box-container">
            <div class="left">
            
                <table id="example" class="hover cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Check-in</th>
                            <th>Checkout</th>
                            <th>Number of hours</th>
                            <th>Number of person</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Edit / Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% data.forEach( foundData => { %>
                        <tr>
                            <% let checkIn = new Date(foundData.checkIn); %>
                            <% let checkOut = new Date(foundData.checkOut); %>
                            <% let options = { month: 'short', day: '2-digit', year: 'numeric' } %>
                            <td class="tableData"><%= checkIn.toLocaleDateString('en-US', options) %></td>
                            <td class="tableData"><%= checkOut.toLocaleDateString('en-US', options) %></td>
                            <td class="tableData"><%= foundData.numOfHours %></td>
                            <td class="tableData"><%= foundData.numOfPerson %></td>
                            <td class="tableData"><i class="fa-solid fa-peso-sign"></i><%= foundData.total.toLocaleString() %></td>
                            <td class="tableData"><span class="<%= foundData.status %>"><%= foundData.status %></span></td>
                            <td> <a href="" class="btn">Edit</a> <a href="" class="btn">Pay</a></td>
                        </tr>
                    <% }) %>    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Check-in</th>
                            <th>Checkout</th>
                            <th>Number of hours</th>
                            <th>Number of person</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Edit / Pay</th>
                        </tr>
                    </tfoot>
                </table>



            </div>
        </div>
    </section>

    
    <!-- NAVBAR JS -->
    <script src="js/navbar.js"></script>

    <!-- Datatable -->
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true
            } );
        } );
    </script>

    <script>
        let disableDates = ["2023-04-25", "2023-04-28"]


        let checkIn = flatpickr("#check-in", {
        altInput: true,
        minDate: "today",
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        disable: disableDates,
        onChange: function(selectedDates, dateStr, instance) {
            // Update the minDate and maxDate options of the second input
            checkOut.set("minDate", selectedDates[0]);
            checkOut.set("maxDate", new Date(selectedDates[0].getTime() + 86400000)); // next day
        }
        });

        let checkOut = flatpickr("#checkOut", {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        disable: disableDates,
        minDate: "today",
        maxDate: new Date(Date.now() + 86400000) // tomorrow
        });

        let timeIn = flatpickr("#time-in", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            time_24hr: false
        });

        let timeOut = flatpickr("#time-out", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            time_24hr: false
        });
    </script>


    <script>
        let showModalB = document.querySelectorAll('.myProfile')
        let boxModalB = document.querySelector('.modalProfile')
        let modalCloseB = document.querySelector('.modalCloseProfile')
        

            showModalB.forEach(modal => {
                modal.addEventListener("click", () => {
                    boxModalB.classList.add('active');
                    menuBarActive.classList.remove('active')

                    modalCloseB.addEventListener("click", () => {
                        boxModalB.classList.remove('active')
                        
                    })

                    document.addEventListener('keydown', (event) => {
                        if(event.keyCode === 27){
                            boxModalB.classList.remove('active')
                        }
                    })
                })
            })
    </script>
</body>
</html>