<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- STYLES -->
        <link rel="stylesheet" href="css/styles.css">
        
        <!-- FONTAWESOME ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    
        <!-- FLATPICKR -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <!-- DATATABLE -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/rowgroup/1.3.1/js/dataTables.rowGroup.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.3.1/css/rowGroup.dataTables.min.css">

        <!-- SWEEETALERT -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <title>My Bookings</title>
    </head>
<body>      
    <%- include('plugins/navbar') %>
    <section class="myBookings">
        <div class="titleHeader">
            <h1>My Bookings</h1>
            <p>If your status is 'approved', you can now pay via Gcash or BPI by clicking the Pay buttton.</p>
        </div>
        <div class="box-container">
            <div class="left">
            
                <table id="example" class="hover cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Check-in</th>
                            <th>Checkout</th>
                            <th>No. of hours</th>
                            <th>No. of person</th>
                            <th>Total</th>
                            <th>Guest paid</th>
                            <th>Status</th>
                            <th>Edit / Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% rows.forEach( foundData => { %>
                        <tr>
                            <% let checkIn = new Date(foundData.checkIn); %>
                            <% let checkOut = new Date(foundData.checkOut); %>
                            <% let options = { month: 'short', day: '2-digit', year: 'numeric' } %>
                            <td class="tableData"><%= checkIn.toLocaleDateString('en-US', options) %></td>
                            <td class="tableData"><%= checkOut.toLocaleDateString('en-US', options) %></td>
                            <td class="tableData"><%= foundData.numOfHours %></td>
                            <td class="tableData"><%= foundData.numOfPerson %></td>
                            <td class="tableData"><i class="fa-solid fa-peso-sign"></i><%= foundData.total.toLocaleString() %></td>
                            <td><i class="fa-solid fa-peso-sign"></i><%= foundData.totalGuestPaid.toLocaleString() %></td>
                            <td class="tableData" style=" width: 15%;"><span class="<%= foundData.status %>"><%= foundData.status %></span></td>
                            <td style="display: flex; gap: 2rem; text-align: center; width: 15%;"> 
                                <% if(foundData.status == 'pending'){ %> 
                                    <a href="mybookings/edit/<%= foundData.reservationID %>" class="btn">Edit</a> 
                                    <a href="mybookings/delete/<%= foundData.reservationID %>" class="cancel" ><i class="bi bi-trash-fill"></i></a> 
                                <% } %>
                                <% if(foundData.status == 'approved'){ %> <a href="/mybookings/payment/<%= foundData.reservationID %>" class="btn">Pay</a> <% } %>
                                <% if(foundData.status == 'checked-out'){ %> <a href="/mybookings/reviews" class="review btn" id="review">Add Feedback</a> <% } %>
                            </td>
                        </tr>
                    <% }) %>    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Check-in</th>
                            <th>Checkout</th>
                            <th>No. of hours</th>
                            <th>No. of person</th>
                            <th>Total</th>
                            <th>Guest paid</th>
                            <th>Status</th>
                            <th>Edit / Pay</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>



    
    <!-- NAVBAR JS -->
    <script src="js/navbar.js"></script>




    <!-- Datatable -->
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true
            } );
        } );
    </script>

    <script>
        let success = '<%= success %>';
        if(success.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Reserved successfully!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        let successF = '<%= successF %>';
        if(successF.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Feedback sent, Thank you!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        let successPayment = '<%= successPayment %>';
        if(successPayment.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Payment sent!',
                text: 'We will update your Guest paid once we confirm it. Thank you!',
                showConfirmButton: false,
                timer: 5000
            })
        }


        let error = '<%= error %>';
        if(error.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Reservation deleted!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        let fName = '<%= result[0].firstName %>';
        let numOfReviews = <%- JSON.stringify(foundReviews) %>;
        let statusCheckedOut = <%- JSON.stringify(rows) %>;
        
        const numOfCheckedOut = statusCheckedOut.filter(data => data.status === 'checked-out')
        
        if(numOfCheckedOut.length > numOfReviews.length){
            Swal.fire({
                iconHtml: '<img style="width: 100%" src="images/smileyy.png">',
                title: `Hi ${fName.charAt(0).toUpperCase() + fName.slice(1)}! Please send us a Feedback.`,
                text: 'You can now send us a Feedback by clicking the Add Feedback button',
            })
        }


    </script>
</body>
</html>