<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>My profile</title>
</head>
<body>
    <%- include('plugins/navbar') %>

    <div class="register">
        <div class="box-container">
            <div class="header">
                <h1>My Profile</h1>  
            </div>
            <form action="/profile" method="post">
                <div class="name">
                    <div class="labelBox">
                        <label for="fName">First name</label>
                        <input type="text" placeholder=" Your first name" id="fName"  name="firstName" value="<%= data[0].firstName %>" required>
                    </div>    
                    <div class="labelBox">
                        <label for="lName">Last name</label>
                        <input type="text" placeholder="Your last name" id="lName"  name="lastName" value="<%= data[0].lastName %>" required>
                    </div>    
                </div>  
                <div class="labelBox">
                    <label for="contactNum">Contact number</label>
                    <input type="text" placeholder="Your contact number" id="contactNum"  name="contactNumber" value="<%= data[0].contactNumber %>" required>
                </div>
                <div class="labelBox">
                    <label for="address">Home address</label>
                    <input type="text" placeholder="Your address" id="address"  name="address" value="<%= data[0].address %>" required>
                </div>
                <div class="labelBox">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Your email" id="email"  name="email" value="<%= data[0].email %>" required>
                </div>
                <div class="labelBox">
                    <label for="password">Password</label>
                    <input type="password" placeholder="New password" id="password"  name="password" required>
                </div>
                <div class="labelBox">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" placeholder="Confirm password" id="confirmPassword"  name="confirmPassword" required>
                </div>
                <button type="submit">Update profile</button>
            </form>
        </div>
    </div>

    <script>
        let success = '<%= success %>';
        if(success.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registered successfully!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        let emailExist = '<%= emailExist %>';
        if(emailExist.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Email already exist!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        let error = '<%= error %>';
        if(error.length > 0){
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Error credentials!',
                showConfirmButton: false,
                timer: 3000
            })
        }

        
    </script>
    <%- include('plugins/footer') %>